<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fadlurahmanf.starterappmvvm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarterAppMvvm"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.example.activity.QrisActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.webrtc.PrepareCallActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.example.activity.CallActivity"
            android:exported="true" />
        <activity
            android:name=".ui.example.activity.ExampleEncryptDecryptActivity"
            android:exported="false" />
        <activity
            android:name=".ui.example.activity.AfterLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.example.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notification.FullScreenNotificationActivity"
            android:exported="true"
            android:showOnLockScreen="true">
            <intent-filter>
                <action android:name="com.fadlurahmanf.callkit.ACTION_CALL_INCOMING" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_ACCEPT_CALL" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_DECLINED_CALL" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_ENDED_CALL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.example.activity.SecondExampleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.core.activity.ImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.core.activity.PdfViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.example.activity.FirstExampleActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.StarterAppMvvm.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".utils.call.CallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fadlurahmanf.callkit.ACTION_CALL_INCOMING" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_ACCEPT_CALL" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_DECLINED_CALL" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_ENDED_CALL" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.call.CallNotificationPlayerService"
            android:exported="true" />
        <service
            android:name=".utils.download.DownloadService"
            android:exported="true" />
        <service
            android:name=".utils.media.MediaPlayerService"
            android:exported="true" />

        <receiver
            android:name=".utils.media.MediaPlayerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fadlurahmanf.mediaPlayer.ACTION_PAUSE" />
                <action android:name="com.fadlurahmanf.mediaPlayer.ACTION_RESUME" />
                <action android:name="com.fadlurahmanf.mediaPlayer.ACTION_STOP" />
                <action android:name="com.fadlurahmanf.mediaPlayer.ACTION_SEEK_TO" />
            </intent-filter>
        </receiver>

        <service android:name=".utils.fcm.FCMHelper"/>
    </application>

</manifest>