<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fadlurahmanf.starterappmvvm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarterAppMvvm"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".core.room.presentation.ExampleRoomActivity"
            android:exported="false" />
        <activity
            android:name=".core.sp.presentation.ExampleSPActivity"
            android:exported="false" />
        <activity
            android:name=".feature.logger.presentation.LogHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".feature.language.presentation.ExampleLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".feature.notification.presentation.ExampleNotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.gallery.presentation.ExampleGalleryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".unknown.ui.example.activity.NetworkServiceDiscoveryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".core.unknown.presentation.VideoPlayerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:theme="@style/FullScreenActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".unknown.ui.example.activity.QrisActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".unknown.ui.webrtc.PrepareCallActivity"
            android:exported="false" />
        <activity
            android:name=".unknown.ui.example.activity.CallActivity"
            android:exported="true" />
        <activity
            android:name=".unknown.ui.example.activity.ExampleEncryptDecryptActivity"
            android:exported="false" />
        <activity
            android:name=".unknown.ui.example.activity.AfterLoginActivity"
            android:exported="false" />
        <activity
            android:name=".unknown.ui.example.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".unknown.ui.notification.FullScreenNotificationActivity"
            android:exported="true"
            android:showOnLockScreen="true">
            <intent-filter>
                <action android:name="com.fadlurahmanf.callkit.ACTION_CALL_INCOMING" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_ACCEPT_CALL" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_DECLINED_CALL" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_ENDED_CALL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".unknown.ui.example.activity.SecondExampleActivity"
            android:configChanges="locale"
            android:exported="false" />
        <activity
            android:name=".core.unknown.presentation.ImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".core.unknown.presentation.PdfViewerActivity"
            android:exported="false" />
        <activity
            android:name=".unknown.ui.example.activity.ExampleActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".unknown.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.StarterAppMvvm.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".unknown.utils.call.CallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fadlurahmanf.callkit.ACTION_CALL_INCOMING" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_ACCEPT_CALL" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_DECLINED_CALL" />
                <action android:name="com.fadlurahmanf.callkit.ACTION_ENDED_CALL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".feature.notification.domain.receiver.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fadlurahmanf.notification.NOTIFICATION_CLICK" />
                <action android:name="com.fadlurahmanf.notification.ACTION_CLICK" />
            </intent-filter>
        </receiver>

        <service
            android:name=".unknown.utils.call.CallNotificationPlayerService"
            android:exported="true" />
        <service
            android:name=".feature.download.domain.service.DownloadService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fadlurahmanf.download.DOWNLOAD" />
            </intent-filter>
        </service>
        <service
            android:name=".unknown.utils.media.MediaPlayerService"
            android:exported="true" />

        <receiver
            android:name=".unknown.utils.media.MediaPlayerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fadlurahmanf.mediaPlayer.ACTION_PAUSE" />
                <action android:name="com.fadlurahmanf.mediaPlayer.ACTION_RESUME" />
                <action android:name="com.fadlurahmanf.mediaPlayer.ACTION_STOP" />
                <action android:name="com.fadlurahmanf.mediaPlayer.ACTION_SEEK_TO" />
            </intent-filter>
        </receiver>

        <service
            android:name=".core.unknown.domain.service.FCMService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>