on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]
name: "Build and Release SETUP CI DEMO"

jobs:
  build:
    name: Build and Release
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: setup gradle version
        uses: eskatos/gradle-command-action@v1
        with:
          gradle-version: 6.7.1
      - name: Setup JDK 16
        uses: actions/setup-java@v1
        with:
          java-version: 16
      - name: Build Apk
        run: ./gradlew assembleDebug
