on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]
name: "Build and Release SETUP CI DEMO"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.2
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with gradle
        run: ./gradlew assembleDebug
      - name: Push to Releases
        uses: ncipollo/release-action@v1
        with:
          artifact: "build/app/outputs/apk/*"
          tag: v1.0.${{ github.run_number }}
          token: ${{ secrets.CI_DEMO }}
