on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]
name: "Build and Release SETUP CI DEMO"

jobs:
  build:
    name: Build and Release
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 16
